

// -------------------VIEW ROOM INDEX ------------------------

h1 {
  color: white;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}

.room-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  overflow: hidden;


  h3 {
    font-size: 25px;
    font-weight: 600;
  }


  .room-card {
    width: 400px;
    box-shadow: 5px 5px 5px black;
    border-radius: 10px;
    margin: 10px;
    overflow: hidden;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    transition: transform 0.3s ease;

    &:hover {
      transform: translateX(0px) translateY(-5px);
    }

    .room-card-img {
      width: 400px;
      height: 400px;
      object-fit: cover;
    }

    a {
      text-decoration: none;
    }

    .room-card-num {
      margin-left: 20px;
      padding-bottom: 15px;
    }

  }
}

// -------------------VIEW ROOM SHOW ------------------------

.room-card-show {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   width: 1000px;
//   padding-top: 20px;
  text-align: center;
a {
  margin-top: 10px;
}
}



.room-card-detail {
  display: flex;
  // flex-direction: column;
    margin:auto;
  box-shadow: 5px 5px 5px black;
  width: 900px;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;

  .room-card-details-img {
    width: 620px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    justify-content: center;
    // padding: 10px;

    .room-card-img {
      width: 300px;
      height: 300px;
      object-fit: cover;
      border-radius: 5px;
    }
  }

  .room-card-num {
    margin-left: 20px;
    padding-bottom: 15px;
    text-align: center;

    .new_booking {
      padding-top: 5px;
    }
  }

}
