.room-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  overflow: hidden;

  h3 {
    font-size: 25px;
    font-weight: 600;
  }


  .room-card {
    width: 400px;
    box-shadow: 5px 5px 5px black;
    border-radius: 10px;
    margin: 10px;
    overflow: hidden;
    text-align: center;

    .room-card-img {
      width: 400px;
      height: 400px;
      object-fit: cover;
    }

    a {
      text-decoration: none;
    }

    .room-card-num {
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }
}

.room-card-detail {
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 5px black;
  width: 420px;
  align-items: center;
  justify-content: center;

  .room-card-details-img {
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    padding: 10px;

    .room-card-img {
      width: 160px;
      height: 160px;
      object-fit: cover;
    }
  }
}
