h2 {
  color: white;
  font-weight: bold;
}

a {
  text-decoration: none;
}


.form-inputs {
  label,a {
    color: white;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
  }
}
